.logo{
    margin-bottom: 40px;
  }

  img{
    opacity: 0.7;
  }
  
  img:hover{
    opacity: 1;
  }

  .navbar{
    height: 40px;
  }
  .nav-link{
    color: white;
  }

  .nav-link:hover{
    background-color: red;
    color: black;
    font-weight: 600px;
  }

  .btn{
      margin-left: 200px;
      color: white;
      border: solid white 1px;
  }
  .btn:hover{
      background-color:white;
      color:black;
  }


  .viewport ul{
    list-style-type: none;
  }

  .viewport li{
    float: left;
  }
  .viewport li a{
    text-decoration: none;
    color: black;
    margin-right: 10px;
  }
 
  .viewport li a:hover{
    list-style-type: none;
    color: orangered ;
    font-weight: bold;
  }

  .viewport p{
    width: 200px;
    text-align: center;
  }

  .livtitl {
    background-color: #999898;
    color: #ffffff;
    text-align: center;
    margin: 0;
    width: 50%;
    float: left;
}

.footer {
  background-color: #707070;
  padding: 15px;
  text-align: center;
  color: #fff;
  bottom: 0 auto;
}

.social i{
  color: white;
  margin: 10px;
}

.social i:hover{
  color:blue;
}

.links a{
  color: white;
  margin: 10px;
}

.links a:hover{
  color:blue;
  text-decoration: none;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  float: left;
  border-left: 10px solid #999898;
  background: #f0f0f0;
}

.titleheader{
  background-color: #CC222A;
  color: #ffffff;
  padding: 5px 0px;
  margin: 0;
  text-align: center;
  font-size: 15px;
}

.overview{
  margin-left: -40px;
}


marquee a{
  color: orangered;
}
marquee a:hover{
  text-decoration: none;
  color: red;
  margin-top: -20px;
}



