.register{
    padding: 3%;
    width:100%;
    font-size:15px;
    height:850px;
}

.register-right{
    background:url("http://www.seekgif.com/uploads/2017/06/simple-powerpoint-background-designs-images--pictures-becuo-16.jpeg") no-repeat;
    background-size: cover;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    width:500px;
    color: black;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: black;
}
.form-control {
    width:200px;
    font-size:13px;
}

.leavetext {
    width:200px;
}

.textareal {
    width:200px;
}



.date {
    width:200px;
}