{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="container">
      <a class="btn btn-success" data-toggle="modal" href="#addQuestion">Add Question</a>
      </div>
    </div><br>
    <div class="row">
      {% include "filter.html" %}
    </div>
  </div>
  
  <div class="modal fade" id="addQuestion" tabindex="-1" role="dialog" aria-labelledby="addQuestionLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">    
          <form id="addquestion" method = "POST">

            <div class="row form-group">
              <label class="col-sm-2 col-form-label">Summary</label>
              <div class="col-sm-10"><input class="form-control" type = "text" name = "summary"></div>
            </div>

            <div class="row form-group">
              <label class="col-sm-2 col-form-label">User Id</label>
              <div class="col-sm-10"><input class="form-control" type = "text" name = "user_id"></div>
            </div>

            <div class="row form-group">
              <label class="col-sm-2 col-form-label">Category</label>
              <select class="col-sm-10" required="true" name="cid" id="c_list" onchange="onChangeDropFromPopUp('addquestion')">
                    <option hidden="true">Category</option>
                    {% for cat in category %}
                      <option value="{{ cat.id }}" >{{ cat.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="row form-group">
              <label class="col-sm-2 col-form-label">Skill</label>
              <select class="col-sm-10" required="true" name="sid" id="s_list">
                 <option hidden="true">Skill</option>
               </select>
            </div>

            <div class="row form-group">
              <label class="col-sm-2 col-form-label">Qtype</label>
              <select class="col-sm-10" required="true" name="qtype_id" id="qtype_list">
                <option hidden="true">Question Type</option>
                {% for item in qtypes %}
                  <option value="{{ item.id }}" >{{ item.name }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="row form-group">
              <label class="col-sm-2 col-form-label">Weightage</label>
              <select class="col-sm-10" name="weightage">
                {% for n in range(1,11) %}
                  <option value="{{ n }}">{{ n }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="row form-group">
              <label class="col-sm-2 col-form-label">Description</label>
              <div class="col-sm-10"><input class="form-control" type = "text" name = "description"></div>
            </div>
          </form>
          <center>
            <button class="create btn btn-success create" action = "{{ url_for('author.add_questions') }}">Create</button>
          </center>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    function onChangeDropFromPopUp(id) {
      var selectedCategory = $('form#'+id+' select#c_list option:checked').val()
      var skill_list = $('form#'+id+' select#s_list');
      $(skill_list).empty();
      {% for skill in skills %}
        if(selectedCategory=='{{skill.category_id}}')
        {
          var option = document.createElement("option");
          option.text = '{{skill.name}}'
          option.value = '{{skill.id}}'
          skill_list.append(option)
        }
      {% endfor %}
      skill_list.selectedIndex = 0
    }
  </script>
{% endblock %}
