<div class="container">
  <div class="row">
    <div class="col-sm-10">
      <form id="filter" method = "POST">
        <div class="row">
          <div class="col-sm-3">
            <select class="form-control" required="true" name="category_list" id="category_list" onchange="onChangeDrop()">
              <option hidden="true">Category</option>
                {% for cat in category %}
                  <option value="{{ cat.id }}" >{{ cat.name }}</option>
                {% endfor %}
            </select>
          </div>

          <div class="col-sm-3">
            <select class="form-control" required="true" name="skill_list" id="skill_list">
             <option hidden="true">Skill</option>
           </select>
          </div>

          <div class="col-sm-3">
            <select class="form-control" name="qtype" id="qtype_id">
              <option hidden="true">All</option>
                {% for item in qtypes %}
                  <option value="{{ item.id }}" >{{ item.name }}</option>
                {% endfor %}
           </select>
          </div>

          <div class="col-sm-3">
            <select class="form-control" name="weightage" id="weightage_id">
              <option hidden="true">All</option>
                {% for n in range(1, 11) %}
                  <option value="{{ n }}" >{{ n }}</option>
                {% endfor %}
           </select>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-2"> 
      <button class="btn btn-primary" id="questions" action="{{ url_for('application.questions') }}">Get</button>
    </div>
  </div>
  
  <br><br>
  <div class="get_section"></div>
  <script type="text/javascript">
    function onChangeDrop() {
      var selectedCategory = $('#category_list').val();
      var skill_list = document.getElementById('skill_list');
      $("#skill_list").empty();
        {% for skill in skills %}
          if(selectedCategory=='{{skill.category_id}}')
          {
            var option = document.createElement("option");
            option.text = '{{skill.name}}'
            option.value = '{{skill.id}}'
            skill_list.add(option)
          }
        {% endfor %}
        skill_list.selectedIndex = 0
     }
  </script>
</div>
