<div id="form">
  <div class="row form-group">
    <label class="col-sm-2 col-form-label">Summary</label>
    <div class="col-sm-10"><input class="form-control" type = "text" name = "summary"  value="{{ question.summary }}"></div>
  </div>

  <div class="row form-group">
    <label class="col-sm-2 col-form-label">User Id</label>
    <div class="col-sm-10"><input class="form-control" type = "text" readonly="true" name = "user_id" value="{{ question.user_id }}"></div>
  </div>

  <div class="row form-group">
    <label class="col-sm-2 col-form-label">Category</label>
    <select class="col-sm-10" required="true" name="cid" id="c_list" onchange="onChangeDropFromPopUp('editquestion')" cat-id={{question.cid}}>
        {% for cat in category %}
          <option value="{{ cat.id }}">{{ cat.name }}</option>
        {% endfor %}
    </select>
  </div>

  <div class="row form-group">
    <label class="col-sm-2 col-form-label">Skill</label>
    <select class="col-sm-10" required="true" name="sid" id="s_list" s-id={{question.sid}}>
      {% for skill in skills if skill.category_id == question.cid %}
        <option value="{{ skill.id }}">{{ skill.name }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="row form-group">
    <label class="col-sm-2 col-form-label">Qtype</label>
    <select class="col-sm-10" required="true" name="qtype_id" id="qtype_list" qtype-id={{question.q_type_id}}>
      {% for item in qtypes %}
        <option value="{{ item.id }}" >{{ item.name }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="row form-group">
    <label class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-10"><input class="form-control" type = "text" name = "description" value="{{ question.description }}"></div>
  </div>

  <div class="row form-group">
    <label class="col-sm-2 col-form-label">Weightage</label>
    <select class="col-sm-10" name="weightage" id="weightage" weightage={{question.weightage}}>
      {% for n in range(1,11) %}
        <option value="{{ n }}">{{ n }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="row form-group float-right">
      {% for k, v in weightages.items() %}
        {{ k }} - {{ v }} </br>
      {% endfor %}
  </div>
</div>
<script type="text/javascript">
    function onChangeDropFromPopUp(id) {
      var selectedCategory = $('form#'+id+' select#c_list option:checked').val()
      var skill_list = $('form#'+id+' select#s_list');
      $(skill_list).empty();
      {% for skill in skills %}
        if(selectedCategory=='{{skill.category_id}}')
        {
          var option = document.createElement("option");
          option.text = '{{skill.name}}'
          option.value = '{{skill.id}}'
          skill_list.append(option)
        }
      {% endfor %}
      skill_list.selectedIndex = 0
    }
  </script>