<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Innominds -- Question Bank</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"></style>
    <link rel="stylesheet" href="static/css/application.css"></style>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/application.js"></script>
  </head>
  <body>
  	<div id="wrap" class="container">
      <h3 class="page-header text-center">Question Bank</h3><br>
      <div id="flashmessage"></div>
    	{% block content %}
      {% endblock %}
    </div>
  </body>
</html>