<table class="table text-center">
   <thead>
      <tr>
         <th>ID</th>
         <th>Summary</th>
         <th colspan="3">Actions</th>
   </thead>
   <tbody>
     {% for question in questions %}
        <tr id='{{question.id}}'>
          <td>{{question.id}}</td>
          <td>{{question.summary}}</td>
          <td>
              <a action="{{ url_for('application.question',id=question.id) }}" class="modalpopup btn btn-info" data-toggle="modal" href="#exampleModal" data-id={{question.id}}>
                Show
              </a>
          </td>
          <td>
              <a class="btn btn-warning editQuestion" data-toggle="modal" question-id="{{question.id}}" action="{{ url_for('application.question',id=question.id) }}" href="#editQuestion">Edit</a>
          </td>
          <td>
              <button class="btn btn-danger delete" action="{{ url_for('author.delete',id=question.id) }}" class="delete" data-confirm="Are you sure you want to delete?">Delete</button>
          </td>
       </tr>
      {% endfor %}
   </tbody>
</table>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Show</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="editQuestion" tabindex="-1" role="dialog" aria-labelledby="editQuestionLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          </div>
          
        </div>
      </div>
    </div>
<script type="text/javascript">
  $(document).ready(function() {
    $(".delete").click(function() {
      $.ajax({
        type: "DELETE",
        url: $(this).attr("action"),
        success: function(data) {
          $("tr#"+ data.id).remove();
          flashMessage(data);
        },
        error: function(error) {
          $(".get_section").show().html(error);
        }
      })  
    })

    function onChangeDrop() {
      var selectedCategory = $('#category_list').val();
      debugger;
      var skill_list = $('#skill_list');
      $("#skill_list").empty();
      debugger;
        {% for skill in skills %}
          if(selectedCategory=='{{skill.category_id}}')
          {
            var option = document.createElement("option");
            option.text = '{{skill.name}}'
            option.value = '{{skill.id}}'
            skill_list.add(option)
          }
        {% endfor %}
        skill_list.selectedIndex = 0
     }

    function flashMessage(data) {
      $("#flashmessage").html('<div class="alert alert-'+(data.hasOwnProperty("success") ? "success" : "danger")+' alert-dismissible fade show">'+ data.message +'<button type="button" class="close" data-dismiss="alert">&times;</button>  </div>');
    }
  })
</script>