/*  */
body {
    background-image: url('../images/index.jpeg'),linear-gradient(to right, rgb(0, 0, 0), rgba(112, 118, 136, 0.8));
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
  }

.nav-item{
    color: aliceblue
}
