<p>employee works!</p>
<input [(ngModel)]="title" type="text">
<h2>{{title}}</h2>
<table>
    <thead>
            <tr [@fadeInOut]>
                    <td style="width: 5%;"><b>Emp.id</b></td>
                    <td style="width: 10%;"><b>Emp.employee_name</b></td>
                    <td style="width: 5%;"><b>Emp.employee_salary</b></td>
                    <td style="width: 15%;"><b>Emp.employee_age</b></td>
            </tr>
    </thead>
    <tr *ngFor="let Emp of Employees" [@fadeInOut]>
            <td style="width: 5%;">{{Emp.id}}</td>
            <td style="width: 10%;">{{Emp.employee_name}}</td>
            <td style="width: 5%;">{{Emp.employee_salary}}</td>
            <td style="width: 15%;">{{Emp.employee_age}}</td>
    </tr>
</table>