/* .footer {
text-align:justify;
background-color: rgb(247, 249, 249);

position: sticky;
left: 0;
bottom: -125px;
width: 100%;
height: 100px;
left:2px;
right:1007;
}

.inno {
    color:rgb(197, 53, 53);
    font-size:30px;
    font-weight: bold;
}

.minds {
    color:orange;
    font-size:30px;
    font-weight: bold;
}

.image {
    height: 60px;
    width: 370px;
    margin-left: 615px;
    margin-top: -133px;
}

.logged {
    margin-left: 723px;
    margin-top: -82px;
    color: white;
}

.copy{
    width:328px;
    height: 10px;
    left:18px;
    right:346px;
    font-size: 13px;
} */

/**This applies styles for Footer*/
.inno{
    color:#ff471a;
}
.info{
    padding-left:10px;
    color:black;
}
.minds{
    color:#ff8000;
}
.footer{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top:120px;
}
.copyrights{
    margin-top:-12px;
}
.email{
    line-height: 1;
    margin-top:-12px;
    margin-bottom: 0px;
}
.ribbon{
    height: 86px;
    width: 350px;
    position: relative;
}
.textonimg{
    position: absolute;
    top:38px;
    left:240px;
    color:white;
}

