.nav-link {
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    
}
button {
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    border: 2px solid #26a69a;
    cursor: pointer;
    padding:2px 10px;
    text-transform:uppercase;
    display:block;
    border-radius: 2px
}
.nav-item:hover {
    background-color:rgba(0, 0, 0,0.2); 
}
.navbar{ 
  overflow: hidden;
  position: fixed;
}
button :hover{
    background-color:#249b8f;
}
.nav-link:hover {
    color:white;
}
.content {
    position: absolute;
    bottom:0;
    color: #f1f1f1;
    background-image: url(https://aidforcancer.com/static/media/information-blurred.88c33272.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    position: relative;
    display:block;
    box-sizing: border-box;
    padding: 0 .75rem;
    min-height: 1px;
}
h3 {
    line-height: 110%;
    font-size: 2.92rem;
    display: block;
    color: #fff;
    overflow:hidden;
    text-align:center;
}
p {
    text-align: center;
    display: block;
    margin-left:50px;
    margin-right:50px;
    font-size:18px;
}
.list-group-item {
    color:#249b8f;
    padding: 10px;
    padding-left:15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.list-group-item:hover {
    background-color: rgba(0, 0, 0,0.2);
    color:#249b8f;
    border:1px solid white;
}
.news {
    margin-left:10px;
    color:black;
    font-size:30px;
    margin-top:-10px;
}
.showall {
   
    margin-left: 43vw;
    color:rgb(13, 129, 245);
    font-size:15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.newsList {
    float:left;
    color:rgb(13, 129, 245);
    margin-top:5px;
    
}
.newsList:hover{
    text-decoration:none;
    color:rgb(13, 129, 245);
}
.newsLogo {
    width:60px;
    height:50px;
    margin-left:20px;
    margin-top:10px;
    float:left;
}
.newsContent {
    background-color: rgb(214, 214, 214);
    margin-bottom:20px;
}
.fa-thumbs-up {
    color:blue;
    margin-top:-35px;
    margin-right:70px;
    float:right;
}
.fa-comments {
    color:red;
    margin-top:-35px;
    margin-right:30px;
    float:right;
}
.foot-link {
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:15px;
}
.foot-item {
    padding:15px;
}
.foot-item :hover {
    text-decoration:none;
    color:white;
    
}

