{% extends 'Sample.html' %}
{% block content %}
<div class="container">
    <div class="row m-y-2">
        <!-- edit form column -->
        <div class="col-lg-4 text-lg-center">
            <h2>Edit Profile</h2>
        </div>
    </div>
    <div class="row m-y-2">
        <div class="col-lg-8 personal-info">
            <form role="form" method="POST">
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">User name</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" name="username" value="{{user.username}}" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Phone</label>
                    <div class="col-lg-9">
                        <input class="form-control" name="phone" type="text" value="{{user.phone}}" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Email</label>
                    <div class="col-lg-9">
                        <input class="form-control" name="email" type="email" value="{{user.gmail}}" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"></label>
                    <div class="col-lg-9">
                        <input type="reset" class="btn btn-outline-secondary my-2 my-sm-0" value="Cancel" />
                        <button type="submit" class="btn btn-outline-success my-2 my-sm-0" id="Update">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}