{% extends 'Sample.html' %}
{% block content %}
{% if username %}
<h1>Welcome <a href="/search/{{username}}"><b><i>{{username}}</i></b></a></h1>
{% endif %}
<table class="table" style="color: aliceblue">
    <thead>
        <tr>
            <th scope="col">User Id</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        {%for user in users%}
        <tr>
            <th scope="row">{{user.id}}</th>
            <td>{{user.username}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.gmail}}</td>
            <td><a href="/edit/{{user.username}}"><button type="button"
                        class="btn btn-outline-success my-2 my-sm-0">Edit <i class="fa fa-edit" aria-hidden="true"></i></button></a></td>
            <td><a href="/delete/{{user.username}}"><button type="submit" class="btn btn-outline-danger my-2 my-sm-0" id="delete">Delete <i class="fa fa-trash" aria-hidden="true"></i>
            </button></a></td>
        </tr>
        {%endfor%}
    </tbody>
</table>
{% endblock %}