{% extends 'Sample.html' %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}
{% block content %}
<form action="" method="POST">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <label for="inputEmail">User Name</label>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="username" name="username" required autofocus>
            </div>
            <label for="inputPassword">Password</label>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password" name="password" required>
            </div>

            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1">Remember password</label>
            </div>
            <button class="btn btn-outline-primary" type="submit">Sign in</button>
            <hr class="my-4">
            <p>New User? <a href="/register">Register Here</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}