{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}" role="alert">
            {{message}}
          </div>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}