{% extends 'Sample.html' %}
{% block content %}
<form action="" method="POST">
    <div class="container">
      <h1>Register</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
  
      <label for="email"><b>User Name</b></label>
      <input type="text" placeholder="Enter UserName" name="username" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
  
      <label for="phone"><b>Contact Number</b></label>
      <input type="Phone" placeholder="Enter phone Number" name="phone" required>
      <hr>
      <label for="email"><b>Email Id</b></label>
      <input type="email" placeholder="Enter Email" name="email" required>
      <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
  
      <button type="submit" class="registerbtn">Register</button>
    </div>
    
    <div class="container signin">
      <p>Already have an account? <a href="/login">Sign in</a>.</p>
    </div>
  </form>
{% endblock %}