{% extends 'Sample.html' %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="img_avatar.png" alt={{user.username}} style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back">
                <h1>{{user.username}}</h1>
                <p>{{user.phone}}</p>
                <p>{{user.gmail}}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}