
  .polnews li a{
    text-decoration: none;
    color: red;
    font-weight: 600;
    float: left;
  }
 
  li a:hover{
    text-decoration: none;
    list-style-type: none;
    color: orangered;
    font-weight: bold; 
  }

.titleheader{
  background-color: #CC222A;
  color: #ffffff;
  padding: 5px 0px;
  margin: 0;
  text-align: center;
  font-size: 15px;
}

.card{
    background-color: #e3e7ea;
}
.page-item{
  margin-right: 20px;
  border-radius: 6px 6px;
}

.page-link.active {
  background-color: #111111;
  border-color: #000000;
}

.polnews{
    margin-top:10px;
    margin-Bottom:10px;
    float:left;
}

.movienews li a{
  text-decoration: none;
    color: red;
    font-weight: 600;
    float: left;
    list-style-type: circle;
}

.movienews li a:hover{
  list-style-type: none;
  color: rgb(155, 128, 219);
  font-weight: bold;
}

